@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default , dark --preferdark;
  themes: light --default
}

body {
  font-family: 'Inter', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

/* src/index.css o tailwind.css */
.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}
